.banner-img {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: flex-end;
  margin-bottom: 36px;

  h1 {
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    font-size: 2.5rem;
  }
}

.platform-img {
  height: 18px;
  margin-right: 18px;
}

.badged {
  background: #e69b00;
  color: rgb(23, 23, 26);
  padding: 4px 12px;
  border-radius: 30px;
  font-weight: 500;
}

.circled {
//  background: #e69b00;
// color: rgb(23, 23, 26);
  background: #262a40;
  border: 2px solid rgba(230, 155, 0, 1);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.2rem;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.game-description {
  line-height: 1.8rem;
  color: white;
  font-size: 1rem;
}

.data-content {
  position: absolute;
  left: 60px;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.data {
  width: 216px;
  flex: 0 0 auto;
  padding-left: 55px;
  position: relative;

  ::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 53px;
    width: 1px;
    background: var(--tg-common-color-white);
    background: radial-gradient(circle, var(--tg-common-color-white) 0%, transparent 100%);
    opacity: 0.18;
    z-index: 1;
  }
}

.screenshots-container {
  margin: 24px 0;
  .screenshot-detail {
    border-radius: 18px;
    margin-bottom: 12px;
    padding: 6px;
  }
}

