<div class="container-fluid vh-100 justify-content-center align-items-center d-flex bg-sign-in">
  <div class="row">
    <img class="logo-in-the-middle" src="../../../../../assets/Video-Game-Controller-Icon.png" alt="">
    <div class="form-container col-md-12 p-0 m-0">
      <div class="bg-form">
        <h4>Sign In</h4>
        <div class="input-group input-group-lg mb-3 mt-4">
          <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
          <input type="text" class="form-control" placeholder="Username" #userName required>
        </div>
        <div class="input-group input-group-lg mb-5">
          <span class="input-group-text"><fa-icon [icon]="faPassword"></fa-icon></span>
          <input type="password" class="form-control" placeholder="Password" #userPassword required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup mb-3">
          <button type="button" class="btn btn-primary py-2 w-100" value="Login" (click)="authService.SignIn(userName.value, userPassword.value)">
            <span class="w-100">Login</span>
          </button>
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn btn-primary w-100 d-flex google-button" (click)="authService.GoogleAuth()">
            <div class="icon-container">
              <fa-icon [icon]="faGoogle" class=""></fa-icon>
            </div>
            <span class="w-100">Login with GOOGLE</span>
          </button>
        </div>

        <div class="forgotPassword mb-2 mt-5">
          <span routerLink="/auth/forgot-password">Forgot Password?</span>
        </div>
        <div class="redirectToLogin">
          <span>Don't have an account?<span class="redirect" routerLink="/auth/register-user"> Sign Up</span></span>
        </div>
      </div>
      <div class="bg-form-img">
      </div>
    </div>
  </div>
</div>
