@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;

*, *:before, *:after {
  box-sizing: border-box;
}

/* CARD */

.card-game {
    background: white;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 24px;
    border-radius: $border-radius-size + 5;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;

    .card-game-image {
      position: relative;
      //height: 230px;
      margin-bottom: 18px;
      border-top-left-radius: $border-radius-size;
      border-top-right-radius: $border-radius-size;
      img {
        border-top-left-radius: $border-radius-size;
        border-top-right-radius: $border-radius-size;
        max-width:100%;
        max-height:100%;
        object-fit: contain;
      }
    }
    .card-game-name {
      font-size: 26px;
      color: #262a40;
      font-weight: 900;
      margin-bottom: 18px;
    }
    .card-game-platforms {
      padding: 0 20px 0 18px;
      text-align: left;
      margin-bottom: 10px;
      img {
        height: 20px;
        //width: 20px;
        margin-right: 10px;
        filter: invert(0.85) sepia(1) saturate(5) hue-rotate(175deg);
      }
    }
    .card-game-description {
      padding: 20px;
      margin-bottom: 10px;
    }
    .card-game-stats {
      color: white;
      font-weight: 700;
      background-color: rgba(38,42,64, 65);
      overflow: hidden;
      border-bottom-left-radius: $border-radius-size;
      border-bottom-right-radius: $border-radius-size;
      //border-top: 1px solid lightgrey;
      .stats-container {
        width: 33%;
        float: left;
        padding: 20px 15px;
        border-right: 1px solid rgba(211,211,211,0.15);
        .stat {
          position: relative;
          font-size: 24px;
          margin-bottom: 10px;
        }
        .stat-value {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 12px;
        }
        &.no-border {
          border-right: none;
        }
      }
    }
  }

  .card-game:hover {
    box-shadow: 0px 2px 4px -2px rgba(255, 255, 255, 0.15);
  }

/* CARD */

