@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;

}

body {
  font-family: 'Montserrat', sans-serif!important;
  background: #fafafa!important;
  color: #333333;
  font-size: 14px!important;
  font-weight: 400!important;
}
